body{
}

header{
}


#homelogo{
  height: 90px;
}

.reminder h3 {
    max-width: 80%;
    margin: 0 auto 30px;
    text-align: center;
}

.formtab{
  cursor: pointer;
}

.reminder__form__2 .field {
    grid-column: 1/3;
    position: relative;
    margin-bottom: 10px;
}

.reminder__form__2 .field input[type=email], .reminder__form__2 .field input[type=tel], .reminder__form__2 .field input[type=text] {
    padding-top: 15px;
    padding-bottom: 15px;
}

.reminder__form__2 .field .error {
    left: auto;
    right: 0;
    top: 0px;
    background-color: #27b870;
    display: none;
}


.reminder form a{
  color: #0063bf;
}

.reminder .checkboxwrapper{
  text-align: left;
}

.reminder .field .checkboxitem{
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}


.reminder__form__2 .field .checkboxwrapper .error {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0px;
}


.reminder .field .checkboxitem label {
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    margin: 0px 0;
}

.reminder .field .checkboxitem input{

}

.checkboxes_title{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.checkboxes_description{
  font-size: 12px;
}

.footer__other-info__content a{
  text-decoration: underline;
}


.how-to__content li span{
  font-weight: bold;
  font-size: 18px;
}


.copy_btn{
  position: relative;
  font-size: 0.8rem;
  background-color: #ffffff;
  padding: 0.5rem 0.5rem;
  display: inline-block;
  color: #0063bf;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #27b870;
  top: -0.5rem;
}

.how-to__intro__content .copy_btn{
  top: -0.2rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.6rem;
  margin-left: 0.5rem;
}



.copy_btn svg{
  display: inline-block;
  margin-left: 0.5rem;
  height: 0.9rem;
  width: auto;

}

.copy_btn svg path{
  fill: #0063bf;
}

.copy_btn:hover{
  background-color: #27b870;
  color: #ffffff;
}

.copy_btn:hover svg path{
  fill: #ffffff;
}



.copied_warning_wrapper{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: none;
  z-index: 10000;
}

.copied_warning{
  background-color: #27b870;
  box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.1);
  padding: 2rem;
  color: #ffffff;
  z-index: 10000;
}

/* adaptive */
@media only screen and (max-width: 600px) {
  .examples__item {
      display: block;
  }

  .examples__item img {
      max-width: 200px;
      margin: auto;
  }

  .examples__item:after {
    content: "";
    position: absolute;
    left: 5%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,99,191,.1);
    z-index: 20;
  }

  .examples__item:nth-child(2n):after {
    left: 0;
    right: 5%;
  }

  .footer {
    font-size: 13px;
    margin-top: 0px;
    position: relative;
    z-index: 50;
  }

  .copy_btn{
    position: relative;
    font-size: 0.7rem;
    background-color: #ffffff;
    padding: 0.2rem 0.5rem;
    display: block;
    color: #0063bf;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #27b870;
    top: 0rem;
    margin-top: 0.5rem;
    max-width: 120px;
    text-align: center;
  }

  .how-to__intro__content .copy_btn{
    top: -0.2rem;
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
    margin-left: 0.0rem;
  }


}



/* Loading animation */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #0063bf;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0063bf transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
