a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}
img {
  display: block;
}
button,
html,
input,
select,
textarea {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: #fff;
  color: #111;
  font-size: 16px;
  line-height: 1.4;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3 {
  font-weight: 700;
}
h1 {
  font-size: 37px;
  line-height: 1.1;
  letter-spacing: -0.6px;
}
@media screen and (min-width: 900px) {
  h1 {
    font-size: 42px;
    line-height: 1.05;
  }
}
h2 {
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.4px;
}
@media screen and (min-width: 900px) {
  h2 {
    font-size: 36px;
  }
}
h3 {
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: -0.2px;
}
.footer ul,
h4 {
  font-size: 16px;
}
strong {
  font-weight: 700;
}
.more {
  font-size: 19px;
}
@media screen and (min-width: 900px) {
  .more {
    font-size: 32px;
    line-height: 1.3;
  }
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Inter-Regular.woff2) format("woff2"),
    url(fonts/Inter-Regular.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Inter-Bold.woff2) format("woff2"),
    url(fonts/Inter-Bold.woff) format("woff");
  font-display: swap;
}
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -ms-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translateZ(0);
}
.swiper-container-multirow > .swiper-wrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -ms-flex-align: start;
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-container-3d {
  perspective: 1200px;
}

.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: 50%;
  background-repeat: no-repeat;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23007aff'/%3E%3C/svg%3E");
  left: 10px;
  right: auto;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23007aff'/%3E%3C/svg%3E");
  right: 10px;
  left: auto;
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23fff'/%3E%3C/svg%3E");
}
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23fff'/%3E%3C/svg%3E");
}
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z'/%3E%3C/svg%3E");
}
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z'/%3E%3C/svg%3E");
}
.swiper-button-lock {
  display: none;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: opacity 0.3s;
  transform: translateZ(0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 4px;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  transition: left 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, left 0.2s;
  transition: transform 0.2s, left 0.2s, -webkit-transform 0.2s;
}
.swiper-container-horizontal.swiper-container-rtl
  > .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  transition: right 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, right 0.2s;
  transition: transform 0.2s, right 0.2s, -webkit-transform 0.2s;
}
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}
.swiper-container-rtl
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-container-horizontal
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-container-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-progressbar.swiper-pagination-white {
  background: hsla(0, 0%, 100%, 0.25);
}
.swiper-pagination-progressbar.swiper-pagination-white
  .swiper-pagination-progressbar-fill {
  background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25);
}
.swiper-pagination-progressbar.swiper-pagination-black
  .swiper-pagination-progressbar-fill {
  background: #000;
}
.swiper-pagination-lock {
  display: none;
}
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
.swiper-scrollbar-lock {
  display: none;
}
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.swiper-slide-zoomed {
  cursor: move;
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  animation: swiper-preloader-spin 1s steps(12) infinite;
}
.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%23fff' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E");
}
@keyframes swiper-preloader-spin {
  to {
    transform: rotate(1turn);
  }
}
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-coverflow .swiper-wrapper {
  -ms-perspective: 1200px;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 2px 10px transparent;
  transition: box-shadow 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
@media screen and (min-width: 900px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [13];
    grid-template-columns: repeat(13, 1fr);
    background-color: transparent;
  }
}
.header .logo {
  padding: 22px 30px 28px;
}
.header .logo a {
  display: block;
}
@media screen and (min-width: 900px) {
  .header .logo {
    grid-column: 1/6;
    padding: 35px 60px 40px;
  }
}
@media screen and (max-width: 900px) {
  .header .logo img {
    width: 170px;
  }
}
.header .menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
@media screen and (min-width: 900px) {
  .header .menu {
    display: none;
  }
}
.header .menu,
.header .menu a {
  width: 100px;
  height: 91px;
}
.header .menu a {
  display: block;
  text-indent: -9000px;
  position: relative;
}
.header .menu a span:after,
.header .menu a span:before {
  content: "";
}
.header .menu a span,
.header .menu a span:after,
.header .menu a span:before {
  position: absolute;
  left: 0;
  background-color: #111;
  height: 3px;
  width: 18px;
  transition: opacity 0.5s cubic-bezier(0.29, 0.86, 0.29, 0.86),
    top 0.5s cubic-bezier(0.29, 0.86, 0.29, 0.86),
    width 0.5s cubic-bezier(0.29, 0.86, 0.29, 0.86),
    transform 0.5s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
.header .menu a span {
  top: 42px;
  margin-left: 30px;
}
.header .menu a span:before {
  top: -7px;
  width: 38px;
}
.header .menu a span:after {
  top: 7px;
  width: 28px;
}
.header .nav {
  font-size: 13px;
  display: none;
}
@media screen and (min-width: 900px) {
  .header .nav {
    display: block;
    grid-column: 6/14;
    font-size: 14px;
    background-color: transparent;
  }
}
.header .nav ul {
  display: -ms-flexbox;
  display: flex;
  padding: 0 28px;
  max-width: 500px;
}
@media screen and (min-width: 900px) {
  .header .nav ul {
    padding-left: 120px;
    max-width: none;
  }
}
.header .nav li {
  width: 25%;
}
.header .nav a {
  display: block;
  max-width: 50px;
  position: relative;
  padding: 5px 0 30px;
}
@media screen and (min-width: 900px) {
  .header .nav a {
    padding: 40px 0 16px;
    max-width: 110px;
    color: #fff;
  }
}
.header .nav a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 4px;
  background-color: #27b870;
  transition: right 0.5s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
@media screen and (min-width: 900px) {
  .header .nav a:after {
    height: 2px;
  }
}
.header .nav a.active:after,
.header .nav a:hover:after {
  right: 0;
}
@media screen and (max-width: 900px) {
  .header .nav a em {
    display: none;
  }
}
.header .logo,
.header .nav {
  transition: opacity 0.8s cubic-bezier(0.29, 0.86, 0.29, 0.86),
    background-color 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
.header .logo,
.header .nav a {
  transition: padding 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
@media screen and (max-width: 900px) {
  .header.active {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  }
}
.header.active .nav {
  display: block;
}
.header.active .menu a span {
  background-color: transparent;
}
.header.active .menu a span:before {
  width: 38px;
  top: 0;
  transform: rotate(45deg);
}
.header.active .menu a span:after {
  width: 38px;
  top: 0;
  transform: rotate(-45deg);
}
.header--bg {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
}
@media screen and (min-width: 900px) {
  .header--bg .logo {
    background-color: #fff;
    padding: 25px 60px 30px;
  }
}
@media screen and (min-width: 900px) {
  .header--bg .nav {
    background-color: #0063bf;
  }
}
@media screen and (min-width: 900px) {
  .header--bg .nav a {
    padding: 30px 0 16px;
  }
}
@media screen and (min-width: 900px) {
  .page {
    -ms-grid-columns: (1fr) [13];
    grid-template-columns: repeat(13, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .intro,
  .page {
    display: -ms-grid;
    display: grid;
  }
  .intro {
    grid-column: 1/6;
    height: 80vh;
    min-height: 500px;
    -ms-flex-align: center;
    align-items: center;
  }
}
.intro h1 {
  padding: 20vh 30px 40px;
  max-width: 400px;
}
@media screen and (min-width: 900px) {
  .intro h1 {
    padding: 90px 60px 60px;
    max-width: 500px;
  }
}
.intro h1 em {
  color: #396;
  display: block;
}
.more {
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.more:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0063bf;
}
@media screen and (min-width: 900px) {
  .more {
    grid-column: 6/14;
  }
}
.more p {
  position: relative;
  max-width: 420px;
  padding: 40px 30px;
}
@media screen and (min-width: 900px) {
  .more p {
    max-width: 820px;
    padding: 90px 60px 60px 120px;
  }
}
.more p em {
  background-color: #27b870;
  font-weight: 700;
  padding: 0 3px;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .more p em {
    padding: 0 6px;
  }
}
.more .scroll {
  display: none;
  position: absolute;
  right: 60px;
  bottom: 0;
  font-size: 14px;
  padding: 0 30px 60px;
}
.more .scroll a {
  cursor: default;
}
@media screen and (min-width: 900px) {
  .more .scroll {
    display: block;
  }
}
.more .scroll:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2px;
  background-color: #27b870;
}
@media screen and (max-width: 900px) {
  .more {
    padding: 0 0 50vw;
  }
}
.tooltip {
  position: absolute;
  bottom: 100%;
  margin-bottom: 5px;
  z-index: 100;
  background-color: #003b97;
  color: #fff;
  font-size: 14px;
  left: 10px;
  right: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  font-weight: 400;
  border: 4px solid #0063bf;
  pointer-events: none;
}
@media screen and (min-width: 900px) {
  .tooltip {
    max-width: 120px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.tooltip:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: #003b97 transparent transparent;
}
.slideshow {
  margin: -50vw 0 0;
  padding-left: 30px;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  .slideshow {
    grid-column: 1/7;
    margin: -60px 0 0;
    padding-left: 0;
    background-color: transparent;
  }
}
.slideshow img {
  width: 100%;
}
.reminder {
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(0, 99, 191, 0),
    rgba(0, 99, 191, 0.1) 50%
  );
  position: relative;
  transition: opacity 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
@media screen and (min-width: 900px) {
  .reminder {
    grid-column: 7/14;
    display: -ms-grid;
    display: grid;
    -ms-flex-align: center;
    align-items: center;
    background-image: none;
    background-color: #f2f7fc;
  }
}
.reminder__content {
  padding: 30px;
}
@media screen and (min-width: 900px) {
  .reminder__content {
    overflow: hidden;
    padding: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .reminder__content {
    padding: 60px 10vw 60px 90px;
  }
}
.reminder h2 {
  max-width: 240px;
  margin: 0 auto 30px;
}
.reminder h3 {
  text-align: left;
  max-width: 480px;
  margin-bottom: 20px;
}
.reminder ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 40px 40px;
  font-size: 19px;
}
.reminder ul li a,
.reminder ul li span {
  padding: 5px 0 8px;
  margin: 0 20px;
  position: relative;
  cursor: pointer
}
.reminder ul li a:after,
.reminder ul li span:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 4px;
  background-color: #0063bf;
  transition: right 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
.reminder ul li a.active:after,
.reminder ul li a:hover:after,
.reminder ul li span.active:after,
.reminder ul li span:hover:after  {
  right: 0;
}
.reminder__loading,
.reminder__message {
  font-size: 19px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f7fc;
  background-color: rgba(242, 247, 252, 0.9);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  .reminder__loading,
  .reminder__message {
    padding: 60px 10vw 60px 90px;
  }
}
.reminder__loading h3,
.reminder__message h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
}
.reminder__loading p,
.reminder__message p {
  margin: 0 0 40px;
}
.reminder .required {
  color: #c21313;
}
.reminder .field {
  margin-bottom: 10px;
  position: relative;
}
.reminder .field label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  display: block;
  margin: 10px 0;
}
.reminder .field input[type="email"],
.reminder .field input[type="tel"],
.reminder .field input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  padding: 19px 19px 20px;
  width: 100%;
  border: 1px solid #fff;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}
.reminder .field input[type="email"]:focus,
.reminder .field input[type="tel"]:focus,
.reminder .field input[type="text"]:focus {
  border: 1px solid #3cd68a;
}
.reminder .field input[type="email"]::-webkit-input-placeholder,
.reminder .field input[type="tel"]::-webkit-input-placeholder,
.reminder .field input[type="text"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.reminder .field input[type="email"]:-moz-placeholder,
.reminder .field input[type="email"]::-moz-placeholder,
.reminder .field input[type="tel"]:-moz-placeholder,
.reminder .field input[type="tel"]::-moz-placeholder,
.reminder .field input[type="text"]:-moz-placeholder,
.reminder .field input[type="text"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.reminder .field input[type="email"]:-ms-input-placeholder,
.reminder .field input[type="tel"]:-ms-input-placeholder,
.reminder .field input[type="text"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.reminder .field input[type="email"].required,
.reminder .field input[type="tel"].required,
.reminder .field input[type="text"].required {
  border-color: #c21313;
}
.reminder .field button {
  background-color: #27b870;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 19px 20px;
  min-width: 100px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
@media screen and (min-width: 900px) {
  .reminder .field button {
    min-width: 140px;
  }
}
.reminder .field button:hover {
  background-color: #23a363;
}
.reminder .field .error {
  font-size: 11px;
  background-color: #c21313;
  color: #fff;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 0 3px;
}
.reminder .field--send input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 1px;
}
.reminder .field--send p {
  position: relative;
  font-size: 12px;
  text-align: left;
  padding-left: 20px;
}
.reminder .field--send .error {
  border-radius: 2px;
  margin-top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 900px) {
  .reminder__form {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .reminder__form {
    margin-top: -50px;
  }
}
.reminder__form__content {
  position: relative;
}
.reminder__form .field button {
  position: absolute;
  right: 0;
  top: 0;
}
.reminder__form .field--send {
  position: static;
}
.reminder__form .field--send p {
  max-width: 180px;
  margin: 25px auto 0;
}
.reminder__form__2__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

@media screen and (min-width: 900px) {
  .about-us,
  .examples,
  .footer,
  .how-to {
    grid-column: 1/14;
  }
}
.how-to {
  display: block;
}
@media screen and (min-width: 900px) {
  .how-to {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [13];
    grid-template-columns: repeat(13, 1fr);
  }
}
.how-to__intro {
  padding: 60px 30px 40px;
}
@media screen and (min-width: 900px) {
  .how-to__intro {
    grid-column: 1/7;
    padding: 60px 10vw 10vw;
    display: -ms-grid;
    display: grid;
    -ms-flex-align: center;
    align-items: center;
  }
}
.how-to__intro h2 {
  max-width: 280px;
  margin-bottom: 30px;
}
.how-to__intro p {
  max-width: 400px;
}
.how-to__example {
  position: relative;
  z-index: 50;
  margin-left: 30px;
  max-width: 500px;
}
@media screen and (min-width: 900px) {
  .how-to__example {
    grid-column: 7/15;
    max-width: none;
    margin-left: 0;
  }
}
.how-to__example img:first-child {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .how-to__example img:first-child {
    display: none;
  }
}
.how-to__example img:nth-child(2) {
  display: none;
}
@media screen and (min-width: 900px) {
  .how-to__example img:nth-child(2) {
    display: block;
    width: 100%;
    max-width: 590px;
  }
}
@media screen and (min-width: 900px) {
  .how-to__content ul,
  .how-to__items ul {
    grid-column: 5/14;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
  }
}
.how-to__content {
  margin-top: -150px;
  padding: 180px 30px 50px;
  background-color: #1fa53c;
  color: #fff;
}
@media screen and (min-width: 900px) {
  .how-to__content {
    margin: -80px 0 0;
    grid-column: 1/15;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [13];
    grid-template-columns: repeat(13, 1fr);
    -ms-flex-align: end;
    align-items: end;
    padding: 60px 0 40px;
  }
}
.how-to__content h3 {
  display: none;
}
@media screen and (min-width: 900px) {
  .how-to__content h3 {
    display: block;
    grid-column: 1/5;
    padding-left: 10vw;
    max-width: 200px;
  }
}
.how-to__content li {
  position: relative;
  cursor: pointer;
}
.how-to__content li:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -50px;
  left: 0;
  border-style: solid;
  border-width: 0 20px 20px;
  border-color: transparent transparent #e9f6ec;
}
@media screen and (min-width: 900px) {
  .how-to__content li:before {
    bottom: -40px;
  }
}
@media screen and (max-width: 900px) {
  .how-to__content li:before {
    opacity: 0;
  }
}
@media screen and (max-width: 900px) {
  .how-to__content li.active:before,
  .how-to__content li:hover:before {
    opacity: 1;
  }
}
.how-to__content li em {
  display: block;
}
@media screen and (min-width: 900px) {
  .how-to__content li em {
    display: inline;
  }
}
.how-to__content ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (min-width: 900px) {
  .how-to__content li,
  .how-to__content li a {
    cursor: default;
  }
}
.how-to__items {
  padding: 50px 30px;
  background-color: #e9f6ec;
}
@media screen and (min-width: 900px) {
  .how-to__items {
    grid-column: 1/14;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [13];
    grid-template-columns: repeat(13, 1fr);
    padding: 40px 0;
    font-size: 13px;
  }
}
.how-to__items li {
  text-align: left;
  padding: 0;
}
@media screen and (min-width: 900px) {
  .how-to__items li {
    padding: 0 60px 0 0;
  }
}
@media screen and (max-width: 900px) {
  .how-to__items li {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .how-to__items li.active {
    display: block;
  }
}
.examples h2 {
  text-align: center;
  padding: 60px 30px;
  margin: 0 auto;
  max-width: 400px;
}
@media screen and (min-width: 900px) {
  .examples h2 {
    padding: 90px 60px 60px;
    max-width: 560px;
  }
}
@media screen and (min-width: 900px) {
  .examples__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
  }
}
.examples__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  position: relative;
  margin-bottom: 50px;
}
@media screen and (max-width: 900px) {
  .examples__item:nth-child(2n) img {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 900px) {
  .examples__item:nth-child(2n) p {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 900px) {
  .examples__item:nth-child(2n):after {
    left: 0;
    right: 30%;
  }
}
@media screen and (min-width: 900px) {
  .examples__item {
    margin-bottom: 0;
  }
}
.examples__item:last-child {
  margin-bottom: 0;
}
.examples__item:after {
  content: "";
  position: absolute;
  left: 30%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 99, 191, 0.1);
  z-index: 20;
}
@media screen and (min-width: 900px) {
  .examples__item:after {
    right: -5%;
  }
}
.examples__item:last-child:after {
  right: 0;
}
.examples__item h3,
.examples__item img,
.examples__item p {
  position: relative;
  z-index: 30;
}
.examples__item h3 {
  grid-column: 1/3;
  color: #0063bf;
  text-align: center;
  padding: 40px 0;
}
.examples__item img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.examples__item p {
  padding: 30px;
}
.about-us {
  padding: 60px 0 0;
}
@media screen and (min-width: 900px) {
  .about-us {
    padding: 120px 0 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [13];
    grid-template-columns: repeat(13, 1fr);
    -ms-flex-align: center;
    align-items: center;
  }
}
.about-us__intro {
  padding: 0 30px 30px;
}
@media screen and (min-width: 900px) {
  .about-us__intro {
    grid-column: 1/7;
    padding: 0 10vw 60px;
    display: -ms-grid;
    display: grid;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }
}
.about-us__intro h2 {
  max-width: 280px;
  margin-bottom: 30px;
}
@media screen and (min-width: 900px) {
  .about-us__intro h2 {
    margin-bottom: 40px;
  }
}
.about-us__intro p {
  max-width: 400px;
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
}
@media screen and (min-width: 900px) {
  .about-us__intro p {
    margin-bottom: 0;
  }
}
.about-us__intro p:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: #27b870;
}
.about-us__intro p a {
  display: inline-block;
  color: #23a363;
  position: relative;
}
.about-us__intro p a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: -2px;
  height: 2px;
  background-color: #23a363;
  transition: right 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
.about-us__intro p a:hover:after {
  right: 0;
}
.about-us__video {
  width: 100%;
  padding-left: 30px;
}
@media screen and (min-width: 900px) {
  .about-us__video {
    grid-column: 7/15;
    padding-right: 10vw;
  }
}
.about-us__video__container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.about-us__video__container embed,
.about-us__video__container iframe,
.about-us__video__container object,
.about-us__video__container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.about-us__content {
  padding: 60px 0;
}
@media screen and (min-width: 900px) {
  .about-us__content {
    padding: 60px 0 0;
    grid-column: 1/15;
  }
}
.about-us__content h3 {
  text-align: center;
  max-width: 320px;
  margin: 0 auto 50px;
}
@media screen and (min-width: 900px) {
  .about-us__content h3 {
    grid-column: 1/4;
  }
}
.about-us__stories {
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 900px) {
  .about-us__stories {
    padding-left: 10%;
  }
}
.about-us__stories__aux {
  overflow: hidden;
  width: 100%;
}
.about-us__item {
  height: auto;
}
.about-us__item:nth-child(3n + 1) {
  background-color: rgba(39, 184, 112, 0.05);
}
.about-us__item:nth-child(3n + 2) {
  background-color: rgba(39, 184, 112, 0.1);
}
.about-us__item:nth-child(3n + 3) {
  background-color: rgba(39, 184, 112, 0.2);
}
.about-us__item__aux {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 10;
  padding: 40px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 73px 1fr;
  grid-template-columns: 73px 1fr;
  grid-column-gap: 30px;
  padding-bottom: 230px;
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .about-us__item__aux {
    grid-column-gap: 40px;
    padding: 50px 40px 10vw;
    font-size: 15px;
  }
}
@media screen and (min-width: 900px) {
  .about-us__item__aux img {
    grid-column: 1/3;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 1200px) {
  .about-us__item__aux img {
    grid-column: 1/2;
    left: 0;
    transform: none;
  }
}
.about-us__item__aux p {
  padding-top: 10px;
}
@media screen and (min-width: 900px) {
  .about-us__item__aux p {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1200px) {
  .about-us__item__aux p {
    grid-column: 2/3;
  }
}
.about-us__item__aux strong {
  color: #27b870;
  display: block;
}
.about-us .swiper-pagination {
  position: absolute;
  bottom: 220px;
  z-index: 80;
  left: 50%;
  transform: translateX(-50%);
}
.about-us .swiper-pagination span {
  margin: 0 20px;
}
.about-us .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}
.about-us .swiper-pagination-bullet-active {
  background-color: #27b870;
}
@media screen and (min-width: 900px) {
  .about-us .swiper-pagination {
    display: none;
  }
}
.footer {
  font-size: 13px;
  margin-top: -180px;
  position: relative;
  z-index: 50;
}
@media screen and (min-width: 900px) {
  .footer {
    margin-top: -70px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [13];
    grid-template-columns: repeat(13, 1fr);
  }
}
.footer__main {
  padding: 45px 30px;
}
.footer__other-info {
  padding: 40px 30px;
}
@media screen and (min-width: 900px) {
  .footer__main,
  .footer__other-info {
    padding: 150px 10vw 60px;
  }
}
.footer__main {
  background-color: #0063bf;
  color: #fff;
  margin-right: 30px;
}
@media screen and (min-width: 900px) {
  .footer__main {
    grid-column: 1/7;
    margin-right: 0;
  }
}
.footer__main h4 {
  max-width: 240px;
  margin-bottom: 20px;
}
@media screen and (min-width: 900px) {
  .footer__main h4 {
    margin-bottom: 40px;
  }
}
.footer__main strong {
  display: block;
}
.footer__main a {
  position: relative;
  z-index: 10;
  padding-bottom: 4px;
  box-shadow: inset 0 -2px 0 #27b870;
  transition: box-shadow 0.5s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
.footer__main a:hover {
  box-shadow: inset 0 -20px 0 #27b870;
}
@media screen and (min-width: 900px) {
  .footer__other-info {
    grid-column: 7/15;
    padding-left: 90px;
  }
}
.footer__other-info h4,
.footer__other-info ul {
  font-weight: 700;
}
.footer__other-info__list {
  text-align: right;
  margin-bottom: 15px;
}
@media screen and (min-width: 900px) {
  .footer__other-info__list {
    float: right;
    margin-bottom: 0;
  }
}
.footer__other-info__list a {
  position: relative;
}
.footer__other-info__list a:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 100%;
  right: 0;
  height: 4px;
  background-color: #27b870;
  transition: left 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
@media screen and (min-width: 900px) {
  .footer__other-info__list a:after {
    height: 3px;
  }
}
.footer__other-info__list a:hover:after {
  left: 0;
}
.footer__other-info h4 {
  margin-bottom: 20px;
}
.footer__other-info__social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}
.footer__other-info__social li {
  margin-right: 30px;
}
.footer__other-info__social li a:hover img {
  opacity: 0.8;
}
.footer__other-info__social li img {
  transition: opacity 0.5s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
.footer__other-info__content p {
  margin-bottom: 10px;
  font-size: 11px;
  max-width: 590px;
}
.footer__other-info__content p:first-child {
  font-size: 13px;
  max-width: 240px;
  margin-bottom: 30px;
}
@media screen and (min-width: 900px) {
  .footer__other-info__content p:first-child {
    max-width: 360px;
  }
}
.check {
  height: 40px;
  width: 40px;
  position: relative;
  margin: 0 auto 25px;
}
.check:after,
.check:before {
  content: "";
  position: absolute;
  background-color: #0063bf;
  width: 6px;
  trasform-origin: center center;
}
.check:before {
  left: 0;
  bottom: 0;
  height: 25px;
  transform: rotate(-45deg);
  border-radius: 2px 2px 0 2px;
}
.check:after {
  left: 26px;
  bottom: 0;
  height: 50px;
  transform: rotate(45deg);
  background: linear-gradient(45deg, #0063bf, #27b870);
  border-radius: 2px 2px 0 0;
}
.loading {
  margin: 0 auto 25px;
  height: 40px;
  width: 40px;
  animation: rotate 0.8s infinite linear;
  border: 5px solid #27b870;
  border-right-color: transparent;
  border-radius: 50%;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    border-color: #0063bf;
    border-right-color: transparent;
  }
  50% {
    transform: rotate(180deg);
    border-color: #27b870;
    border-right-color: transparent;
  }
  to {
    transform: rotate(1turn);
    border-color: #0063bf;
    border-right-color: transparent;
  }
}
.preload {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 2000;
}
.preload-enter-active,
.preload-leave-active {
  transition: opacity 1s;
}
.preload-enter,
.preload-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.reminder__form.fade-enter-active,
.reminder__form.fade-leave-active {
  position: absolute;
}
.sharing-wrapper {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.sharing {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -140px;
  width: 280px;
  height: 280px;
  background-color: #fff;
  color: #fff;
  border-radius: 300px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 900px) {
  .sharing {
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
  }
}
.sharing a {
  display: block;
  margin: 0 10px;
  position: relative;
  width: 30px;
  height: 30px;
}
.sharing a svg {
  vertical-align: middle;
}
.sharing a:first-child {
  margin-left: 0;
  top: -1px;
}
.sharing a:nth-child(2) {
  position: relative;
  top: 2px;
}
.sharing a:last-child {
  margin-left: 22px;
  margin-right: -5px;
}
.sharing-enter-active,
.sharing-leave-active {
  transition: opacity 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86),
    transform 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
.sharing-enter,
.sharing-leave-to {
  opacity: 0;
  transform: scale(1.2);
}
svg {
  vertical-align: middle;
  margin-right: 8px;
}
.intro,
.logo,
.more,
.nav,
.reminder,
.slideshow {
  visibility: hidden;
  opacity: 0;
}
.more {
  transform: translateY(60px);
}
.slideshow {
  transform: translateY(70px);
}
.intro,
.more,
.reminder,
.slideshow {
  transition: transform 0.8s cubic-bezier(0.29, 0.86, 0.29, 0.86),
    opacity 1s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
.intro.enable,
.logo.enable,
.nav.enable {
  visibility: visible;
  opacity: 1;
}
.intro.enable,
.more.enable,
.reminder.enable,
.slideshow.enable {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}
.how-to__intro {
  opacity: 0.01;
  transition: opacity 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
.how-to__content,
.how-to__example,
.how-to__items {
  opacity: 0.01;
  transform: translateY(80px);
  transition: transform 0.8s cubic-bezier(0.29, 0.86, 0.29, 0.86),
    opacity 1s cubic-bezier(0.29, 0.86, 0.29, 0.86);
  transition-delay: 0.3s;
}
.how-to__content {
  transition-delay: 0.4s;
}
.how-to__items {
  transition-delay: 0.5s;
}
.how-to.box.enable .how-to__intro {
  opacity: 1;
}
.how-to.box.enable .how-to__content,
.how-to.box.enable .how-to__example,
.how-to.box.enable .how-to__items {
  transform: translate(0);
  opacity: 1;
}
.examples h2 {
  opacity: 0.01;
  transition: opacity 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
.examples .examples__item {
  opacity: 0.01;
  transform: translateY(80px);
  transition: transform 0.8s cubic-bezier(0.29, 0.86, 0.29, 0.86),
    opacity 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
.examples .examples__item:first-child {
  transition-delay: 0.2s;
}
.examples .examples__item:nth-child(2) {
  transition-delay: 0.3s;
}
.examples .examples__item:nth-child(3) {
  transition-delay: 0.4s;
}
.examples.box.enable h2 {
  opacity: 1;
}
.examples.box.enable .examples__item {
  opacity: 1;
  transform: translate(0);
}
.about-us .about-us__intro {
  opacity: 0.01;
  transition: opacity 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
.about-us .about-us__content,
.about-us .about-us__video {
  opacity: 0.01;
  transform: translateY(80px);
  transition: transform 0.8s cubic-bezier(0.29, 0.86, 0.29, 0.86),
    opacity 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86);
  transition-delay: 0.2s;
}
.about-us .about-us__content {
  transition-delay: 0.4s;
}
.about-us.box.enable .about-us__intro {
  opacity: 1;
}
.about-us.box.enable .about-us__content,
.about-us.box.enable .about-us__video {
  opacity: 1;
  transform: translate(0);
}
.footer {
  opacity: 0.01;
  transition: opacity 0.7s cubic-bezier(0.29, 0.86, 0.29, 0.86);
}
.footer.enable {
  opacity: 1;
}
textarea.hidden {
  opacity: 0;
  position: absolute;
  top: 0;
}
.about-us,
.how-to,
.intro,
.more {
  position: relative;
}

img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

body {
  --wp--preset--color--black: #000000;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--white: #ffffff;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--vivid-purple: #9b51e0;
  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(
    135deg,
    rgba(6, 147, 227, 1) 0%,
    rgb(155, 81, 224) 100%
  );
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(
    135deg,
    rgb(122, 220, 180) 0%,
    rgb(0, 208, 130) 100%
  );
  --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(
    135deg,
    rgba(252, 185, 0, 1) 0%,
    rgba(255, 105, 0, 1) 100%
  );
  --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(
    135deg,
    rgba(255, 105, 0, 1) 0%,
    rgb(207, 46, 46) 100%
  );
  --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(
    135deg,
    rgb(238, 238, 238) 0%,
    rgb(169, 184, 195) 100%
  );
  --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(
    135deg,
    rgb(74, 234, 220) 0%,
    rgb(151, 120, 209) 20%,
    rgb(207, 42, 186) 40%,
    rgb(238, 44, 130) 60%,
    rgb(251, 105, 98) 80%,
    rgb(254, 248, 76) 100%
  );
  --wp--preset--gradient--blush-light-purple: linear-gradient(
    135deg,
    rgb(255, 206, 236) 0%,
    rgb(152, 150, 240) 100%
  );
  --wp--preset--gradient--blush-bordeaux: linear-gradient(
    135deg,
    rgb(254, 205, 165) 0%,
    rgb(254, 45, 45) 50%,
    rgb(107, 0, 62) 100%
  );
  --wp--preset--gradient--luminous-dusk: linear-gradient(
    135deg,
    rgb(255, 203, 112) 0%,
    rgb(199, 81, 192) 50%,
    rgb(65, 88, 208) 100%
  );
  --wp--preset--gradient--pale-ocean: linear-gradient(
    135deg,
    rgb(255, 245, 203) 0%,
    rgb(182, 227, 212) 50%,
    rgb(51, 167, 181) 100%
  );
  --wp--preset--gradient--electric-grass: linear-gradient(
    135deg,
    rgb(202, 248, 128) 0%,
    rgb(113, 206, 126) 100%
  );
  --wp--preset--gradient--midnight: linear-gradient(
    135deg,
    rgb(2, 3, 129) 0%,
    rgb(40, 116, 252) 100%
  );
  --wp--preset--duotone--dark-grayscale: url("#wp-duotone-dark-grayscale");
  --wp--preset--duotone--grayscale: url("#wp-duotone-grayscale");
  --wp--preset--duotone--purple-yellow: url("#wp-duotone-purple-yellow");
  --wp--preset--duotone--blue-red: url("#wp-duotone-blue-red");
  --wp--preset--duotone--midnight: url("#wp-duotone-midnight");
  --wp--preset--duotone--magenta-yellow: url("#wp-duotone-magenta-yellow");
  --wp--preset--duotone--purple-green: url("#wp-duotone-purple-green");
  --wp--preset--duotone--blue-orange: url("#wp-duotone-blue-orange");
  --wp--preset--font-size--small: 13px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 36px;
  --wp--preset--font-size--x-large: 42px;
}
